doctype html
head
  title=htmlWebpackPlugin.options.title
  meta(charset='UTF-8')
block body
  h1 INDEX page
  #container.col
    p You are amazing
    p Pug is a terse and simple templating language.
  block main